name: "Playwright tests"

on: push

jobs:
  tests:
    runs-on: ubuntu-latest
    steps:
      - name: "Checkout to tests repo"
        uses: actions/checkout@v4
      - name: "Copy env file"
        run: |
          cp './env/.env.example' './env/.env'
      - name: "Run Playwright tests"
        run: |
          HTTP_CREDENTIALS_USERNAME=guest HTTP_CREDENTIALS_PASSWORD=welcome2qauto docker-compose up --exit-code-from tests
      - name: "upload test report"
        if: always()
        uses: actions/upload-artifact@v3
        with:
          name: playwright-report
          path: playwright-report/